@media (min-width: 1024px) {
  .textbg {
    grid-template-columns: 200px 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
          '. . .'
          '. . text'
          '. . .'
  }

  .text {
    grid-area: text;
  }
}